archive/*
test_results/*
test_assest/*
test_videos/*
examples/output/*
.DS_Store
*.pt
*.pth
*.onnx
*.pyc
*.zip
vision_framework.egg-info/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.coverage
coverage.xml
.pytest_cache/
htmlcov/

# Project specific
temp_image.jpg
vision_framework/_version.py

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Test data
tests/data/images/*
!tests/data/images/.gitkeep
tests/data/videos/*
!tests/data/videos/.gitkeep
